<%= form_for(@interveniente) do |f| %>
  <% if @interveniente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interveniente.errors.count, "error") %> prohibited this interveniente from being saved:</h2>
      <h2><%= pluralize(@interveniente.endereco.errors.count, "error") %> prohibited this endereco from being saved:</h2>
      <ul>
        <% @interveniente.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        <% @interveniente.endereco.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :cnpj %><br />
    <%= f.text_field :cnpj, :maxlength => "14" %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <%= f.fields_for :endereco do |ff| %>
    <div class="field">
      <%= ff.label :cep %><br />
      <%= ff.text_field :cep, :maxlength => "8" %>
    </div>
    <div class="field">
      <%= ff.label :logradouro %><br />
      <%= ff.text_field :logradouro %>
    </div>
    <div class="field">
      <%= ff.label :numero %><br />
      <%= ff.number_field :numero %>
    </div>
    <div class="field">
      <%= ff.label :bairro %><br />
      <%= ff.text_field :bairro %>
    </div>
    <div class="field">
      <%= ff.label :cidade %><br />
      <%= ff.text_field :cidade %>
    </div>
    <div class="field">
      <%= ff.label :estado %><br />
      <%= ff.text_field :estado %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>
