<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @interveniente.nome %>
</p>

<p>
  <b>Cnpj:</b>
  <%= @interveniente.cnpj %>
</p>

<p>
  <b>Telefone:</b>
  <%= @interveniente.telefone %>
</p>

<p>
  <b>Email:</b>
  <%= @interveniente.email %>
</p>

<p>
  <b>Cep:</b>
  <%= @interveniente.endereco.cep %>
</p>

<p>
  <b>Logradouro:</b>
  <%= @interveniente.endereco.logradouro %>
</p>

<p>
  <b>Numero:</b>
  <%= @interveniente.endereco.numero %>
</p>

<p>
  <b>Bairro:</b>
  <%= @interveniente.endereco.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%= @interveniente.endereco.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @interveniente.endereco.estado %>
</p>


<%= link_to 'Editar', edit_interveniente_path(@interveniente) %> |
<%= link_to 'Voltar', intervenientes_path %>
