<h1>Lista de cursos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Sigla</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cursos.each do |curso| %>
  <tr>
    <td><%= curso.nome %></td>
    <td><%= curso.sigla %></td>
    <td><%= link_to 'Ver', curso %></td>
    <td><%= link_to 'Editar', edit_curso_path(curso) %></td>
    <td><%= link_to 'Deletar', curso, confirm: 'Tem certeza?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Curso', new_curso_path %>
