<%= form_for(@convenio) do |f| %>
	<% if @convenio.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@convenio.errors.count, "erro") %> proibiu(iram) esse convênio de ser criado:</h2>
			<ul>
				<% @convenio.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :empresa_id %><br />
		<%= f.collection_select(:empresa_id, @empresas, :id, :nome) %>
		<%# = f.number_field :empresa_id %>
	</div>
	<div class="field">
		<%= f.label :interveniente_id %><br />
		<%= f.collection_select(:interveniente_id, @intervenientes, :id, :nome) %>
		<%# = f.number_field :interveniente_id %>
	</div>
	<div class="field">
		<%= f.label :vigencia, "Número de vigência" %><br />
		<%= f.number_field :vigencia %>
	</div>
	<div class="field">
		<%= f.label :rescidido %><br />
		<%= f.check_box :rescidido %>
	</div>
	<div class="actions">
		<%= f.submit "Criar Convênio" %>
	</div>
<% end %>
