<h1>Lista de Convênios</h1>

<table>
  <tr>
    <th>Empresa</th>
    <th>Interveniente</th>
    <th>Vigência (Meses)</th>
    <th>Rescidido</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @convenios.each do |convenio| %>
  <tr>
    <td><%= convenio.concedente.nome %></td>
    <td><%= convenio.interveniente.nome %></td>
    <td><%= convenio.vigencia %></td>
    <td><%= convenio.rescidido %></td>
    <td><%= link_to 'Ver', convenio %></td>
    <td><%= link_to 'Editar', edit_convenio_path(convenio) %></td>
    <td><%= link_to 'Deletar', convenio, confirm: 'Tem certeza?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo convênio', new_convenio_path %>
