<p id="notice"><%= notice %></p>

<p>
  <b>Empresa:</b>
  <%= @convenio.concedente.nome %>
</p>

<p>
  <b>Interveniente:</b>
  <%= @convenio.interveniente.nome %>
</p>

<p>
  <b>Vigência (Meses):</b>
  <%= @convenio.vigencia %>
</p>

<p>
  <b>Rescidido:</b>
  <%= @convenio.rescidido %>
</p>


<%= link_to 'Editar', edit_convenio_path(@convenio) %> |
<%= link_to 'Voltar', convenios_path %>
