<%= form_for(@tce) do |f| %>
  <% if @tce.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tce.errors.count, "error") %> prohibited this tce from being saved:</h2>

      <ul>
      <% @tce.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :aluno_id %><br />
		<%= f.collection_select(:aluno_id, @alunos, :id, :nome) %>
  </div>
	<div class="field">
		<%= f.label :convenio_id %><br />
		<%= f.select(:convenio_id, options_for_select(@convenios_array)) %>
	</div>
  <%= f.fields_for :detalhe_termo do |ff| %>
    <div class="field">
      <%= ff.label :data_inicio %><br />
      <%= ff.datetime_select :data_inicio %>
    </div>
    <div class="field">
      <%= ff.label :data_termino %><br />
      <%= ff.datetime_select :data_termino %>
    </div>
    <div class="field">
      <%= ff.label :bolsa_auxilio %><br />
      <%= ff.number_field :bolsa_auxilio %>
    </div>
    <div class="field">
      <%= ff.label :data_de_rescisao %><br />
      <%= ff.datetime_select :data_de_rescisao %>
    </div>
    <%= ff.fields_for :seguradora do |fff| %>
      <div class="field">
        <%= fff.label :nome, "Seguradora" %><br />
        <%= fff.text_field :nome %>
      </div>
    <% end %>    
    <%= ff.fields_for :endereco do |fff| %>
      <div class="field">
        <%= fff.label :cep %><br />
        <%= fff.text_field :cep %>
      </div>
      <div class="field">
        <%= fff.label :logradouro %><br />
        <%= fff.text_field :logradouro %>
      </div>
      <div class="field">
        <%= fff.label :numero, "Número" %><br />
        <%= fff.number_field :numero %>
      </div>
      <div class="field">
        <%= fff.label :bairro %><br />
        <%= fff.text_field :bairro %>
      </div>
      <div class="field">
        <%= fff.label :cidade %><br />
        <%= fff.text_field :cidade %>
      </div>
      <div class="field">
        <%= fff.label :estado %><br />
        <%= fff.text_field :estado %>
      </div>
    <% end %>
  <% end %>
  <div class="field">
    <%= f.label :rescidido %><br />
    <%= f.check_box :rescidido %>
  </div>
  <div class="field">
    <%= f.label :validado %><br />
    <%= f.check_box :validado %>
  </div>
  <div class="field">
    <%= f.label :assinado_professor %><br />
    <%= f.check_box :assinado_professor %>
  </div>  
  <div class="actions">
    <%= f.submit "Próximo" %>
  </div>
<% end %>
