<%= form_for(@tce) do |f| %>
  <% if @tce.errors.any? %>
    <div class="alert alert-error">
      <strong><%= pluralize(@tce.errors.count, "erro") %> proibiu(iram) esse TCE de ser criado:</strong>

      <ul>
      <% @tce.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :aluno_id %><br />
		<%= f.collection_select(:aluno_id, @alunos, :id, :nome_upcase) %>
  </div>
	<div class="field">
		<%= f.label :convenio_id, "Convênio" %><br />
		<%= f.select(:convenio_id, options_for_select(@convenios_array)) %>
	</div>
  <div class="field">
    <%= f.label :responsavel_nome, "Nome do Responsável"%><br />
    <%= f.text_field :responsavel_nome %>
  </div>
  <div class="field">
    <%= f.label :responsavel_cargo, "Cargo do Responsável"%><br />
    <%= f.text_field :responsavel_cargo %>
  </div>
    
  <%= f.fields_for :detalhe_termo do |ff| %>
    <div class="field">
      <%= ff.label :data_inicio, "Data de início" %><br />
      <%= ff.date_select :data_inicio, options = {:order => [:day, :month, :year], 
      :use_month_names => ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", 
        "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"]}, html_options = {:class => "selecting"} %> 
    </div>
    <div class="field">
      <%= ff.label :data_termino, "Data de Término" %><br />
      <%= ff.date_select :data_termino, options = {:order => [:day, :month, :year], 
      :use_month_names => ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", 
        "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"]}, html_options = {:class => "selecting"} %>
    </div>
    <div class="field">
      <%= ff.label :bolsa_auxilio, "Bolsa auxílio" %><br />
      <%= ff.number_field :bolsa_auxilio %>
    </div>
    <div class="field">
      <%= ff.label :data_de_rescisao, "Data de Rescisão" %><br />
      <%= ff.date_select :data_de_rescisao, options = {:order => [:day, :month, :year], 
      :use_month_names => ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", 
        "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"]}, html_options = {:class => "selecting"} %>
    </div>
    <%= ff.fields_for :seguradora do |fff| %>
      <div class="field">
        <%= fff.label :nome, "Seguradora" %><br />
        <%= fff.text_field :nome %>
      </div>
    <% end %>
    <div class="field">
      <%= ff.label :apolice, "Apólice"%><br />
      <%= ff.number_field :apolice %>
    </div>      
    <%= ff.fields_for :endereco do |fff| %>
      <div class="field">
        <%= fff.label :cep %><br />
        <%= fff.text_field :cep, :maxlength => "8" %>
      </div>
      <div class="field">
        <%= fff.label :logradouro %><br />
        <%= fff.text_field :logradouro %>
      </div>
      <div class="field">
        <%= fff.label :numero, "Número" %><br />
        <%= fff.number_field :numero %>
      </div>
      <div class="field">
        <%= fff.label :bairro %><br />
        <%= fff.text_field :bairro %>
      </div>
      <div class="field">
        <%= fff.label :cidade %><br />
        <%= fff.text_field :cidade %>
      </div>
      <div class="field">
        <%= fff.label :estado %><br />
        <%= fff.text_field :estado, html_options = {:style => "width: 30px", :maxlength => "2"} %>
      </div>
    <% end %>
    <div class="field">
      <%= ff.label :comentario, "Comentário" %>
      <%= ff.text_area :comentario, html_options = {:rows => "8"} %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :rescidido %><br />
    <%= f.check_box :rescidido %>
  </div>
  <div class="field">
    <%= f.label :validado %><br />
    <%= f.check_box :validado %>
  </div>
  <div class="field">
    <%= f.label :assinado_professor %><br />
    <%= f.check_box :assinado_professor %>
  </div>  
  <div class="form-actions">
    <%= f.submit "Próximo", :class => "btn btn-primary" %>
  </div>
<% end %>

