<h1>Lista de TCEs</h1>
<br />
<h2>TCEs em aberto</h2>
<table>
  <tr>
    <th>Aluno</th>
    <th>Curso</th>
    <th>Concedente</th>
    <th>Interveniente</th>
    <th>Rescidido</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @tces_nv.each do |tce| %>
  <tr>
    <td><%= tce.aluno.nome.upcase %></td>
    <td><%= tce.aluno.curso.sigla%></td>
    <td><%= tce.convenio.concedente.nome %></td>
    <td><%= tce.convenio.interveniente.nome %></td>
    <td><%= tce.rescidido %></td>
    <td><%= link_to 'Ver', tce %></td>
    <td><%= link_to 'Editar', edit_tce_path(tce) %></td>
    <td><%= link_to 'Deletar', tce, confirm: 'Tem certeza?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br />
<h2>TCEs validados</h2>
<table>
  <tr>
    <th>Aluno</th>
    <th>Curso</th>
    <th>Concedente</th>
    <th>Interveniente</th>
    <th>Rescidido</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @tces_v.each do |tce| %>
  <tr>
    <td><%= tce.aluno.nome.upcase %></td>
    <td><%= tce.aluno.curso.sigla%></td>
    <td><%= tce.convenio.concedente.nome %></td>
    <td><%= tce.convenio.interveniente.nome %></td>
    <td><%= tce.rescidido %></td>
    <td><%= link_to 'Ver', tce %></td>
    <td><%= link_to 'Editar', edit_tce_path(tce) %></td>
    <td><%= link_to 'Deletar', tce, confirm: 'Tem certeza?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo TCE', new_tce_path %>
