<p id="notice"><%= notice %></p>

<h2>Dados Gerais</h2>

<p>
  <b>Aluno:</b>
  <%= @tce.aluno.nome.upcase %>
</p>

<p>
  <b>Convenio:</b>
  <%= @tce.convenio.concedente.nome %> interveniada por <%= @tce.convenio.interveniente.nome %> 
</p>

<p>
  <b>Nome do Responsável:</b>
  <%= @tce.responsavel_nome%>
</p>

<p>
  <b>Cargo do Responsável:</b>
  <%= @tce.responsavel_cargo%>
</p>

<p>
  <b>Data de início:</b>
  <%= @tce.detalhe_termo.data_inicio.day %>/<%= @tce.detalhe_termo.data_inicio.month %>/<%= @tce.detalhe_termo.data_inicio.year %>
</p>

<p>
  <b>Data de término:</b>
  <%= @tce.detalhe_termo.data_termino.day %>/<%= @tce.detalhe_termo.data_termino.month %>/<%= @tce.detalhe_termo.data_termino.year %>
</p>
<% if (@tce.rescidido)%>
<p>
  <b>Data de rescisão:</b>
  <%= @tce.detalhe_termo.data_de_rescisao.day %>/<%= @tce.detalhe_termo.data_de_rescisao.month %>/<%= @tce.detalhe_termo.data_de_rescisao.year %>
</p>
<% end %>
<p>
  <b>Bolsa auxílio:</b>
  <%= number_with_precision(@tce.detalhe_termo.bolsa_auxilio, :locale => :pt) %>
</p>
<p>
  <b>Seguradora:</b>
  <%= @tce.detalhe_termo.seguradora.nome %>
</p>
<p>
  <b>Apólice:</b>
  <%= @tce.detalhe_termo.apolice %>
</p>
<p>
  <b>Comentário:</b>
  <%= @tce.detalhe_termo.comentario %>
</p>
<p>
  <b>Cep:</b>
  <%= @tce.detalhe_termo.endereco.cep %>
</p>

<p>
  <b>Logradouro:</b>
  <%= @tce.detalhe_termo.endereco.logradouro %>
</p>

<p>
  <b>Numero:</b>
  <%= @tce.detalhe_termo.endereco.numero %>
</p>

<p>
  <b>Bairro:</b>
  <%= @tce.detalhe_termo.endereco.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%= @tce.detalhe_termo.endereco.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @tce.detalhe_termo.endereco.estado %>
</p>

<p>
  <b>Rescidido:</b>
  <%= (@tce.rescidido) ? "OK" : "Não OK" %>
</p>

<p>
  <b>Validado:</b>
  <%= (@tce.validado) ? "OK" : "Não OK" %>
</p>
<h2>Horário de trabalho</h2>
<p>
  <b>Carga horária semanal:</b><br/>
  <%= @tce.detalhe_termo.carga_horaria_semanal%> hrs
</p>
<%
  dias_semana = ["Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado", "Domingo"] 
  horarios = @tce.detalhe_termo.hora_dias.order("dia_semana ASC") 
  horarios.each do |h| 
%>
<p>
  <b><%= (h.tipo) ? dias_semana[h.dia_semana.to_i] + ":" : "Horário de almoço:" %></b><br/>
  Início: <%= h.inicio.hour %> : <%= h.inicio.min %>
  Término: <%= h.final.hour %> : <%= h.final.min %>
</p>
  
<% end %>
<h2>Atividades</h2>
<ul>
<% @tce.detalhe_termo.lista_atividades.each do |at| %>
  <li><%= at.atividade.nome %></li>
<% end %>
</ul>

<%= link_to 'Editar', edit_tce_path(@tce), :class => "btn" %>
<%= link_to 'Voltar', tces_path, :class => "btn" %>
