<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @empresa.nome %>
</p>

<p>
  <b>Cnpj:</b>
  <%= @empresa.cnpj %>
</p>

<p>
  <b>Telefone:</b>
  <%= @empresa.telefone %>
</p>

<p>
  <b>Email:</b>
  <%= @empresa.email %>
</p>

<p>
  <b>Cep:</b>
  <%= @empresa.endereco.cep %>
</p>

<p>
  <b>Logradouro:</b>
  <%= @empresa.endereco.logradouro %>
</p>

<p>
  <b>Numero:</b>
  <%= @empresa.endereco.numero %>
</p>

<p>
  <b>Bairro:</b>
  <%= @empresa.endereco.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%= @empresa.endereco.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @empresa.endereco.estado %>
</p>


<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
