<p id="notice"><%= notice %></p>

<p>
  <b>Tce:</b>
  <%= @tum.tce_id %>
</p>

<p>
  <b>Detalhe termo:</b>
  <%= @tum.detalhe_termo_id %>
</p>

<p>
  <b>Validado:</b>
  <%= @tum.validado %>
</p>

<p>
  <b>Assinado professor:</b>
  <%= @tum.assinado_professor %>
</p>


<%= link_to 'Edit', edit_tum_path(@tum) %> |
<%= link_to 'Back', ta_index_path %>
